* {
    box-sizing: border-box;
  }

body {
    font-family: "Open Sans", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 300px;
    margin: 0;
    font-size: 13px;
}

.m0 {
    margin:0;
}

.mt-0 {
    margin-top:0;
}

  .container {
    padding: 16px;
    background-color: white;
  }
  
  .error {
    color: red;
    margin-top: 3px;
    display:block;
  }

  .form-group {
    position: relative;
    margin-bottom:15px;
  }

  .form-group label {
    margin-bottom: 5px;
    display: block;
  }

  input.form-control {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: 1px solid #d8d6d6;
    background: #f1f1f1;
  }
  
  input.form-control:focus, input.form-control:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-group.has-error input.form-control {
    border-color: red;
  }

  .form-group.has-error label {
    color: red;  
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
  }
  
  .btn {
    background: #008CBA;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: 0 2px 0px #0f6480;
    outline:0;
  }
  
  .btn:hover {
    background: #008CBA;
    opacity: 1;
    color: white;
  }

  #status {
    color: green;
  }


  #loggedMsg {
    display: block;
    margin-bottom: 10px;
    color: green;
    font-weight: 700;
    font-size: 13px;
    background-color: #e2efe2;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #bed9be;
    display: flex;
    align-items: center;
  }